<!DOCTYPE html>
<html>
<head>
    <title>Yelp Camp</title>
    <!-- Links to CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">YelpCamp</a>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <!-- Logic that hides or displays the correct navigation buttons depending on if a user is signed in -->
                <% if (!currentUser) { %>
                    <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                    <li class="nav-item"><a class="nav-link" href="/register">Sign Up</a></li>
                <% } else { %>
                    <li class="nav-item"><a class="nav-link active" href="#">Signed in as, <%= currentUser.username %></a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                <% } %>
            </ul>
        </div>
    </nav>
    <div class="container">
        <% if (error && error.length > 0) {%>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
    </div>
    <div class="container">
        <% if (success && success.length > 0) { %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
