body {

}

nav {
    margin-bottom: 20px;
}

.img-thumbnail {
    padding: 0;
}

.img-thumbnail img {
    width: 100%;
}

.img-thumbnail .caption-full {
    padding: 10px;
}

.card {
    margin-top: 10px;
    padding: 10px;
}

.delete-form {
    display: inline;
}